In [ ]:
name="Aishwarya"
age=21
edu="BTech-CSE"
print("My name is", name, "and I am ", age, "years old. I am pursuing ", edu, "degree.")

My name is Aishwarya and I am  21 years old. I am pursuing  BTech-CSE degree.

In [5]:
cost=100.5
old=False
a=None
print(type(name))
print(type(age))
print(type(edu))
print(type(cost))
print(type(old))
print(type(a))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [7]:
a=5
b=10
sum=a+b
print("The sum of a and b is: ", sum)
diff=a-b
print("The difference of a and b is: ", diff)

The sum of a and b is:  15
The difference of a and b is:  -5

In [ ]:
#single line comment
"""
This is a multi-line comment.
It can span multiple lines.
"""

In [10]:
a=int(input("Enter side of square: "))
area=a*a
print("The area of the square is: ", area)

The area of the square is:  25

In [11]:
a=float(input("Enter floating point number: "))
b=float(input("Enter floating point number: "))
avg=(a+b)/2
print("The average of a and b is: ", avg)

The average of a and b is:  4.2

In [12]:
str1="This is a string. \nWe are creating it in python."
print(str1)
str2="This is a string. \tWe are creating it in python."
print(str2)

This is a string.
We are creating it in python.
This is a string. 	We are creating it in python.

In [21]:
s1="Aishwarya"
s2="Jadhav"
print(s1+s2)
print(s1[0])
print(s1[1:4])
print(s1[1:])
print(s1[:4])
print(s1[-5:-1])
len(s1+s2)

AishwaryaJadhav
A
ish
ishwarya
Aish
wary

15

In [5]:
str="i am currently interning at XYZ company."
print(str.endswith("any."))
print(str.capitalize())
print(str.replace("XYZ", "ABC"))
print(str.find("interning"))
print(str.count("i"))
print(len(str))

True
I am currently interning at xyz company.
i am currently interning at ABC company.
15
3
40

In [10]:
marks=int(input("Enter marks: "))
print(marks)
if (marks >= 90):
    print("Grade: A")
elif (marks >= 80 and marks < 90):
    print("Grade: B")
elif (marks >= 70 and marks < 80):
    print("Grade: C")
else:
    print("Grade: D")

88
Grade: B

In [8]:
number=int(input("Enter a number: "))
print(number)
if number % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

67
The number is odd.

In [ ]:
no1=int(input("Enter first number: "))
no2=int(input("Enter second number: "))
no3=int(input("Enter third number: "))
print ("The numbers are: ", no1, no2, no3)
if (no1>no2 and no1>no3):
    print("The greatest number is: ", no1)
elif (no2>no3):
    print("The greatest number is: ", no2)
else:
    print("The greatest number is: ", no3)

The numbers are:  23 45 49
The greatest number is:  49

In [12]:
num=int(input("Enter a number: "))
print(num)
count=1
while count<=12:
    print(num, "X", count, "=", num*count)
    count+=1

5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55
5 X 12 = 60

In [15]:
num=(1,4,9,16,25,36,49,64,81,100)
x=36
i=0
while i<len(num):
    if num[i]==x:
        print(x, "found at index",i)
        i+=1
    else:
        i+=1

36 found at index 5

In [ ]:
i=1
while i<=10: 
    if i==5:
        i+=1
        continue
    print(i)
    i+=1

1
2
3
4
6
7
8
9
10

In [18]:
i=1
while i<=10: 
    if i==5:
        break
    print(i)
    i+=1

1
2
3
4

In [ ]:
num=(1,4,9,16,25,36,49,64,81,100)
idx=0
for el  in num:
    if el==36:
        print("number found at index", idx)
    idx+=1

number found at index 5

In [23]:
n=5
fact=1
for i in range(1, n+1):
    fact=fact*i
print("The factorial of", n, "is: ", fact)

The factorial of 5 is:  120

In [1]:
def avg_no(a,b,c):
    avg=a+b+c/3
    return avg
result=avg_no(2,5,6)
print("The average of the three numbers is: ", result)

The average of the three numbers is:  9.0

In [3]:
cities=["New York", "London", "Paris", "Tokyo", "Sydney"]
items=["apple", "banana", "orange", "grape"]
def len_list(lst):
    print(len(lst))
len_list(cities)
len_list(items)

5
4

In [4]:
def factorial(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    print (fact)
factorial(5)

120

In [5]:
def converter(usd_val):
    inr_val=usd_val*90
    print(usd_val, "USD =", inr_val, "INR")
converter(100)

100 USD = 9000 INR

In [6]:
def odd_even(num):
    if num%2==0:
        print("The number is even.")
    else:
        print("The number is odd.")
odd_even(7)

The number is odd.

In [21]:
import mymodule
mymodule.add(5, 10)
mymodule.subtract(10, 5)
mymodule.multiply(5, 10)
print(mymodule.divide(10,5))

The sum of 5 and 10 is: 15
The difference between 10 and 5 is: 5
The product of 5 and 10 is: 50
2.0

In [22]:
import math
print(math.sqrt(16))

4.0

In [23]:
from math import factorial
print(factorial(5))

120

In [28]:
marks=[85, 92, 78, 90, 88]
print(type(marks))
print(marks[1:3])
marks.append(95)
print(marks)
marks.sort()
print(marks)
marks.reverse()
print(marks)
marks.sort(reverse=True)
print(marks)
marks.insert(2, 80)
print(marks)    
marks.remove(78)
print(marks)
marks.pop(0)
print(marks)

<class 'list'>
[92, 78]
[85, 92, 78, 90, 88, 95]
[78, 85, 88, 90, 92, 95]
[95, 92, 90, 88, 85, 78]
[95, 92, 90, 88, 85, 78]
[95, 92, 80, 90, 88, 85, 78]
[95, 92, 80, 90, 88, 85]
[92, 80, 90, 88, 85]

In [31]:
tuple=(1,4,9,16,25)
print(type(tuple))
print(tuple[1:4])
print(tuple.index(9))
print(tuple.count(4))

<class 'tuple'>
(4, 9, 16)
2
1

In [35]:
list=[]
mo1=input("Enter first movie: ")
mo2=input("Enter second movie: ")
mo3=input("Enter third movie: ")
list.append(mo1)
list.append(mo2)
list.append(mo3)
print(list)

['superman', 'batman', 'spiderman']

In [34]:
list=[1,5,3,6,2,7]
rev=list[::-1]
if list==rev:
    print("The list is a palindrome.")
else:
    print("The list is not a palindrome.")

The list is not a palindrome.

In [39]:
list=['A', 'B', 'C', 'A', 'B']
list.sort()
print(list)

['A', 'A', 'B', 'B', 'C']