In [ ]:
name="Aishwarya"
age=21
edu="BTech-CSE"
print("My name is", name, "and I am ", age, "years old. I am pursuing ", edu, "degree.")

My name is Aishwarya and I am  21 years old. I am pursuing  BTech-CSE degree.

In [5]:
cost=100.5
old=False
a=None
print(type(name))
print(type(age))
print(type(edu))
print(type(cost))
print(type(old))
print(type(a))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [6]:
a=5
b=10
sum=a+b
print("The sum of a and b is: ", sum)

The sum of a and b is:  15